{% extends 'base.html.twig' %}

{% block body %}
	<div class="center-align">
		<h1>Bienvenue sur l'application Todo</h1>
		<h3>Commencez! <span class="material-icons">insert_emoticon</span></h3>
	</div>
	<div class="center-icon">
		{{ include('element/_iconStyle.html.twig', {icon: 'account_circle', text: 'Se connecter', path: 'app_login'}) }}
		{{ include('element/_iconStyle.html.twig', {icon: 'person_add', text: 'Creer un compte', path: 'app_login'}) }}
		{{ include('element/_iconStyle.html.twig', {icon: 'info', text: 'Information', path: 'app_login'}) }}
	</div>
	<div class="center-align">
		<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>GitHub</a>
		<a class="waves-effect waves-light btn-large"><i class="material-icons left">facebook</i>Facebook</a>
	</div>
{% endblock %}
