{% extends 'base.html.twig' %}

{% block body %}
	<div class="center-align">
		<h1>Bienvenue sur l'application</h1>
		<h3>
			Application de todo list pour planifier votre tache journaliere, regroupe par categorie.
		</h3>
	</div>
{% endblock %}
