{% extends 'base_member.html.twig' %}

{% block body %}
	<div class="row hero-margin-t-2">
		<div class="col s12">
			<button data-target="modal-add" class="btn modal-trigger">Ajouter une categorie</button>
		</div>
	</div>
	<div class="row">
		<div class="col s2" id="left-col">
			{% for d in data %}
				<div class="hero-left-card flex-center" data-uuid="{{ d.uuid }}">
					<span class="material-icons">keyboard_arrow_right</span>
					<p>{{ d.title }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="col s7" id="jsParent">
			<h3>Selectionner une rubrique</h3>
		</div>
		<div class="col s3" id="right-col">
			adasdasds
		</div>
	</div>

	<modal-add-categorie></modal-add-categorie>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('customElement') }}
	{{ encore_entry_script_tags('main') }}
{% endblock %}
