{% extends 'base_member.html.twig' %}

{% block body %}
	<div class="row hero-margin-t-2">
		<div class="col s12">
			<a class="waves-effect waves-light btn"><i class="material-icons left">queue</i>Ajouter une rubrique</a>
		</div>
	</div>
	<div class="row" id="jsParent">
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('customElement') }}
	{{ encore_entry_script_tags('main') }}
{% endblock %}
