<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}To do{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
</head>
<body>
<div class="row" style="margin: 0">
	<div class="col s12 hero-content">
		<nav>
			<div class="nav-wrapper white navbar">
				<a href="#!" class="brand-logo"><i class="material-icons">list_alt</i>TodoList</a>
				<ul class="right hide-on-med-and-down">
{#					<li><a href="{{ path('app_login') }}"><i class="material-icons">account_circle</i></a></li>#}
					<li><a href="mobile.html"><i class="material-icons">notifications</i></a></li>
				</ul>
			</div>
		</nav>
		<div class="progress hero-margin-0" id="jsLoading" style="display: none; position: sticky; top: 0; z-index: 2000">
			<div class="indeterminate"></div>
		</div>
		<div class="col s12">
			{% block body %}{% endblock %}
		</div>
	</div>
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
