/**
 * @Author <Akartis>
 *
 * Do it with love
 */
.p-card{
  margin-bottom: 0;
  span{
    font-size: 18px;
  }
}

.hero-todo-card {
  background-color: #fff;
  @extend .hero-padding-1, .z-depth-2, .hero-margin-y-2;
  border-radius: $border-radius;

  .header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .icon {
      text-align: center;

      span {
        font-size: 35px;

      }
    }

    .text {
      p {
        @extend .p-card;
      }
    }
  }

  .content {
    .item{
      position: relative;
      .hero-todo-bar{
        position: absolute;
        left: 5px;
        height: 75%;
        width: 5px;
        background-color: $dark;
        border-radius: $border-radius;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .footer {
    p{
      @extend .p-card;
    }
  }
}
