/**
 * @Author <Akartis>
 *
 * Do it with love
 */
.hero-todo-card{
  background-color: #fff;
  @extend .hero-padding-1, .z-depth-2, .hero-margin-y-2;
  border-radius: $border-radius;
  .header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .material-icons{
      font-size: 35px;
    }
    .icon{
      text-align: center;
    }
  }
  .content{
  }
  .footer{
  }
}
