/**
 * @Author <Akartis>
 *
 * Do it with love
 */

// Generate padding and margin
@for $i from 0 through 5 {
  .hero-padding-#{$i}{
    padding: $padding*$i $padding*$i;
  }

  .hero-padding-x-#{$i}{
    padding: 0 $padding*$i;
  }

  .hero-padding-y-#{$i}{
    padding: $padding*$i 0;
  }

  .hero-padding-t-#{$i}{
    padding-top: $padding*$i;
  }

  .hero-padding-b-#{$i}{
    padding-bottom: $padding*$i;
  }

  .hero-margin-#{$i}{
    margin: $padding*$i $padding*$i;
  }

  .hero-margin-y-#{$i}{
    margin: $padding*$i 0;
  }

  .hero-margin-x-#{$i}{
    margin: 0 $padding*$i;
  }

  .hero-margin-t-#{$i}{
    margin-top: $padding*$i;
  }

  .hero-margin-b-#{$i}{
    margin-bottom: $padding*$i;
  }
}

//Generate background color from $theme
@each $i, $c in $themes{
  .hero-bg-#{$i}{
    background-color: $c !important;
  }
}

//Generate height class
@for $i from 0 through 5 {
  .h-#{$i}{
    height: 25% * $i;
  }
}

.bold{
  font-weight: bold;
}

.flex-center{
  display: flex;
  align-items: center;
}
